@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.shadow-bottom {
  box-shadow: 0 11px 11px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 42px 37px;
}
